<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <ul class="list-input settings-list">
		<!--Test Title -->
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Title</label>
                <input class="input setting-input" id="edit_title_name" value="{{test_title}}" type="text">
                <span class="tip setting-help">Example: "Unit 2: Divisor"</span>
            </div>
        </li>

		<!-- Test Type -->
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Test type</label>
                <select class="input setting-input" id="edit_test_type" value="{{test_type}}">
                        <option value="Pre-test">
                            Pre-test
                        </option>
						<option value="Post-test">
                            Post-test
                        </option>
						<option value="Quiz">
                            Quiz
                        </option>
                </select>

            </div>
        </li>

		<!-- Main Question Number -->
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Total main question number</label>
                <input class="input setting-input " id="edit_total_question" value="{{total_question}}" type="number">
                <span class="tip setting-help">Example : 5</span>
            </div>
        </li>

		<!-- Total Zone -->	
        <div id="panel2">
            {% for number,question,answers_set,pictures_set in questions %}
					<li class="field comp-setting-entry is-set">
						<!-- Question Set Number -->
						<div class="wrapper-comp-setting">
									<label class="label setting-label">Q{{number}}: Total question </label>
									<input class="input setting-input edit_sub_number" id="edit_total_sub_question_{{number}}" value="{{question|length}}" type="number" >
									<div class="min-max-button" id="{{number}}">+</div>
						</div>
						<!-- End of Question Set Number -->
						<!-- Question Set Zone -->
						<div class="question-set" id = "question-group-{{number}}">
							<!-- Each Sub Question -->
							{% for question_num,sub_question in question.items %}
							<div id="Q{{number}}.{{question_num}}">
								<!-- Question Part -->
								<!-- Content -->
								<div class="wrapper-comp-setting" >
									<!-- Sub Question Number Label -->
									<label class="label setting-label">Q{{number}}.{{question_num}} Question</label>
									<!-- End of Sub Question Number Label -->
									<!-- Sub Question Content -->
									<input class="input setting-input question-name" name="question{{number}}.{{question_num}}"
									id="question{{number}}.{{question_num}}" value="{{sub_question}}" type="text">
									<!-- End of Sub Question Content-->
									<div class="min-max-button" id="{{number}}.{{question_num}}">+</div>
								</div>
								<!-- End of Content -->
								<div id="QS{{number}}.{{question_num}}">
									<!-- Picture -->
									<div class="wrapper-comp-setting" >
										<!-- Sub Question Number Label -->
										<label class="label setting-label">Q{{number}}.{{question_num}} Picture</label>
										<!-- End of Sub Question Number Label -->
										<!-- Sub Picture Content -->
										{% for pic_num,picture in pictures_set.items%}
										
											{% if pic_num == question_num %}
												<input class="input setting-input question-name" name="question{{number}}.{{question_num}}_pic"
												id="question{{number}}.{{question_num}}_pic" value="{{picture}}" type="text">
											{% endif %}
										{% endfor %}
										<!-- End of Picture Content-->
									</div>
									<!-- End of Picture -->
									<!-- End of Question Part -->
									<!-- Each Answer part -->
									{% for ans_number,answer_set in answers_set.items %}
										{% if ans_number == question_num %}
											{% for answer in answer_set %}
												<div class="wrapper-comp-setting">
													<!-- Answer Number Label -->
												   <label class="label setting-label">Answer {{forloop.counter}}</label>
													<!-- End of Answer Number Label -->
													<!-- Answer Content -->
										 		   <input class="input setting-input answer-name" name="answer{{number}}.{{ans_number}}_{{forloop.counter}}"
													id="answer{{number}}.{{ans_number}}_{{forloop.counter}}" value="{{answer}}" type="text">
													<!-- End of Answer Content -->
													<!-- Checkbox -->
											 		<span class="tip setting-help"><input class="checkboxer" name="answer{{number}}.{{ans_number}}_cb"
													id="answer{{number}}.{{ans_number}}_{{forloop.counter}}_cb" type="checkbox" 
													{% for ans in answers %}{% if forloop.counter|stringformat:"i" == number %}
													{% for an in ans %}{% if an == answer and forloop.counter|stringformat:"i" == ans_number %}checked
													{% endif %}{% endfor %} 
													{% endif %}{% endfor %} >
													</span>
													<!-- End of Checkbox -->
												</div>
											
											{% endfor %}
										{% endif %}
									{% endfor %}
									<!-- End of Each Answer part -->
									<!-- Learning Object Link and Name -->
									{% if question|length > 1 and question_num != "1" or question|length == 1 %}
										<div class="wrapper-comp-setting">
											<label class="label setting-label">Learning Object Url</label>
											{% for urls in learning_object_url %}
												{% if forloop.counter|stringformat:"i" == number %}
													{% for url in urls %}
														{% if forloop.counter|stringformat:"i" == question_num %}
															<input class="input setting-input lo-link" name="lo{{number}}.{{question_num}}_link" 
															id="lo{{number}}.{{question_num}}_link" value="{{url}}" type="text">
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
											<span class="tip setting-help">Example:"vbv45ad59svsrtu81"</span>
										</div>
				
										<div class="wrapper-comp-setting">
											<label class="label setting-label">Learning Object Name</label>
											{% for names in learning_object_name %}
												{% if forloop.counter|stringformat:"i" == number %}
													{% for name in names %}
														{% if forloop.counter|stringformat:"i" == question_num %}
															<input class="input setting-input lo-name" name="lo{{number}}.{{question_num}}_name" 
															id="lo{{number}}.{{question_num}}_name" value="{{name}}" type="text">
														{% endif %}
													{% endfor %}										
												{% endif %}
											{% endfor %}
											<span class="tip setting-help">Example: "Multipler"</span>
										</div>
									{% endif %}
									<!-- End of Learning -->
								</div> 
							</div> 
							{% endfor %}
							<!-- End of Each Sub Question -->
						</div>
						<!-- End Question Set Zone -->
					</li>
            {% endfor %}
        </div> 	<!-- panel2 end -->
        <!-- End of Total Zone -->
    </ul>
	<div class="xblock-actions">
		<span class="xblock-editor-error-message"></span>
		<ul>
			<li class="action-item">
				<a href="#" class="save-button action-primary action">Save</a>
			</li>
			<li class="action-item">
				<a href="#" class="button cancel-button">Cancel</a>
			</li>
		</ul>
	</div>

</div>
