<!-- TODO
     1.conclusion at the end
	 1.5  test grade
-->

<script>
	//TO BE USED IN MYXBLOCK.JS, RECEIVED BY DJANGO
	var CORRECT_ICON = "{{correct_icon}}";
	var INCORRECT_ICON = "{{incorrect_icon}}";
	var TOTAL_QUESTION = "{{total_question}}";
</script>
<script type="text/javascript" async
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>

<div class="learning_path_question_block">
	<h2> {{test_title}}</h2>
	<div id="question-area">
		{% for number,question,answers,pictures in questions%}
			{% for question_num,sub_question in question.items %}
				<div {% if forloop.counter|stringformat:"i" != '1' or number != '1' %} class="hidden" {% endif %} id ='question-{{number}}s{{question_num}}'>
					<span>

						<form class="choicegroup" >
							<fieldset >
								<p>{% if number == '1' and forloop.counter|stringformat:"i" == '1' %} {{number}}. {% endif %}{% autoescape off %}{{sub_question}}{% endautoescape %}</p>
								{% for pic_num,picture in pictures.items %}
									{% if pic_num == question_num %}
											<img class="question-pic" src="{{picture}}" alt=""/>
									{% endif %}
								{% endfor %}
								{% for answer_num,answer_set in answers.items %}
									{% if answer_num == question_num %}
										{% for answer in answer_set %}
											<label>
												<input name="{{number}}.{{question_num}}" id="answer{{number}}.{{question_num}}.{{forloop.counter}}" value="{{answer}}" type="radio">  {{answer}} 
											</label>
										{% endfor %}
									{% endif %}
								{% endfor %}
								<label>
									<input name="{{number}}.{{question_num}}" id="answer{{number}}.{{question_num}}.5" value="I don't know" type="radio"> I don't know 
								</label>
								<input type="button" id = "{{number}}.{{question_num}}" class="check" value="Check" >
							</fieldset>
		
						</form>

					</span>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	<a class="hidden" id="html-link" href="/jump_to_id/1">link</a>
	<!-- Modal content -->
	<div id="result-modal" class="self-modal">
		<div class="self-modal-content">
			<div class="self-modal-header">
				<span class="close-self-modal">×</span>
				<h4 class="self-modal-title"><p>Result</p></h4>
			</div>
			<div class="self-modal-body">
				<p id="result-text"></p>
			</div>
			<div class="self-modal-footer">
				<button type="button" id="result-button" >OK</button>
				<p id="dummy">.</p>
			</div>
		</div>
	</div>
	<!-- End of Modal content -->
</div>
