
input#edit_show_labels {
    min-width:20px; 
    width:20px; 
    height:20px; 
    vertical-align:middle;
}

label#name, label#value {
    text-align:center;
    width: 20%;
}

input.group-name, input.group-value {
    width: 20% !important;
}

.checkboxer{
	border-bottom-color: rgb(249, 249, 248);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: inset;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(249, 249, 248);
border-left-style: inset;
border-left-width: 0px;
border-right-color: rgb(249, 249, 248);
border-right-style: inset;
border-right-width: 0px;
border-top-color: rgb(249, 249, 248);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: inset;
border-top-width: 0px;
box-sizing: border-box;

direction: ltr;
height: 14px;
line-height: 23.6833px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-width: 10px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: start;
text-indent: 0px;
text-overflow: ellipsis;
text-rendering: optimizelegibility;
width: 20px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}
.min-max-button{
    border:solid 1px;
    width: 25px;
    height: 23px;
    float:right;
    cursor:pointer;
	text-align: center;
}
/*

.comp-setting-entry {
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(76, 76, 76);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(76, 76, 76);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(76, 76, 76);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(76, 76, 76);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(76, 76, 76);
	direction: ltr;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 16px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 400;
	line-height: 23.6833px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	opacity: 1;
	outline-color: rgb(76, 76, 76);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	text-alignlefttext-indent: 0px;
	text-rendering: optimizelegibility;
	vertical-align: baseline;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}
.wrapper-comp-setting {
	border-bottom-color: rgb(76, 76, 76);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(76, 76, 76);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(76, 76, 76);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(76, 76, 76);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(76, 76, 76);
	direction: ltr;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 16px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 400;
	line-height: 23.6833px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 300px;
	outline-color: rgb(76, 76, 76);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-alignlefttext-indent: 0px;
	text-rendering: optimizelegibility;
	top: 0px;
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}
.setting-label {
	border-bottom-color: rgb(76, 76, 76);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(76, 76, 76);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(76, 76, 76);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(76, 76, 76);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(76, 76, 76);
	direction: ltr;
	display: inline-block;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 14px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 600;
	left: 0px;
	line-height: 20.7167px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 0px;
	min-width: 100px;
	outline-color: rgb(76, 76, 76);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-alignlefttext-indent: 0px;
	text-rendering: optimizelegibility;
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-propertycolortransition-timing-function: ease-in-out;
	vertical-align: middle;
	width: 300.6px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}
.setting-input {
	background-color: rgb(242, 242, 242);
	background-image: linear-gradient(rgb(242, 242, 242), rgb(255, 255, 255));
	border-bottom-color: rgb(178, 178, 178);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(178, 178, 178);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(178, 178, 178);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(178, 178, 178);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
	box-sizing: border-box;
	color: rgb(51, 178, 235);
	direction: ltr;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 16px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 500;
	height: 45.6833px;
	line-height: 23.6833px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 100px;
	outline-color: rgb(51, 178, 235);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: start;
	text-indent: 0px;
	text-overflow: ellipsis;
	text-rendering: optimizelegibility;
	width: 541.067px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}
.setting-help {
	border-bottom-color: rgb(76, 76, 76);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(76, 76, 76);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(76, 76, 76);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(76, 76, 76);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(76, 76, 76);
	direction: ltr;
	display: inline-block;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 400;
	line-height: 17.7667px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 200px;
	outline-color: rgb(76, 76, 76);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-alignlefttext-indent: 0px;
	text-rendering: optimizelegibility;
	vertical-aligntop-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;

}
*/
