<!-- TODO
     1. Disable Element
     2. send answer and report correct
     3. enable specific question  -->

<div class="myxblock_block">
{% for number,question,answers in questions%}
<div {% if number != '1' %}class="hidden" {% endif %} id ='question-{{number}}1s0'>
<span>

<form class="choicegroup" >
    <fieldset  >
	<p>{% if number == '1' %}{{number}}. {% endif %}{{question.0}}</p>
		{% for answer in answers.0 %}
			<label>
			    <input name="{{question.0}}" value="{{answer}}" type="radio">  {{answer}}
			</label>
		{% endfor %}
		
        <button class="check" data-checking="Checking..." data-value="Check"><span class="check-label">Check</span><!--<span class="sr"> your answer</span>--></button>
    </fieldset>
    
</form>

</span>
</div>

<div class="hidden" id ='question-{{number}}s1'>

<span>

<form class="choicegroup" >
    <fieldset  >
	<p>{{question.1}}</p>
		{% for answer in answers.1 %}
			<label>
			    <input name="{{question.1}}" value="{{answer}}" type="radio">  {{answer}}
			</label>
		{% endfor %}
		
        
    </fieldset>
</form>
</span>
</div>

<div class="hidden" id ='question-{{number}}s2'>

<span>

<form class="choicegroup" >
    <fieldset  >
	<p>{{question.2}}</p>
		{% for answer in answers.2 %}
			<label>
			    <input name="{{question.2}}" value="{{answer}}" type="radio">  {{answer}}
			</label>
		{% endfor %}
		
        
    </fieldset>
</form>
</span>
</div>

<div class="hidden" id ='question-{{number}}s3'>

<span>

<form class="choicegroup" >
    <fieldset  >
	<p>{{question.3}}</p>
		{% for answer in answers.3 %}
			<label>
			    <input name="{{question.3}}" value="{{answer}}" type="radio">  {{answer}}
			</label>
		{% endfor %}
		
        
    </fieldset>
</form>
</span>
</div>
{% endfor %}

</div>
