<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <ul class="list-input settings-list">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Title</label>
                <input class="input setting-input edit-display-name" id="edit_unit_name" value="{{unit_name}}" type="text">
                <span class="tip setting-help">Example: "Unit 2: Divisor"</span>
            </div>
        </li>
<!--
        <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label">Show Labels</label>
                    <input class="input setting-input edit-show-labels" id="edit_show_labels" type="checkbox" {% if showLabels %} checked {% endif %}>  Yes
                </div>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Label Type</label>
                <select class="input setting-input edit-label_type" id="edit_label_type" value="{{labelType}}">
                    {% for lt in labelTypes %}
                        <option value="{{forloop.counter0}}" {% if forloop.counter0 == labelType %}selected="selected"{% endif %}>
                            {{lt}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </li>
-->
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label">Total main question number</label>
                <input class="input setting-input edit-width" id="edit_total_main_question" value="{{total_main_question}}" type="number">
                <span class="tip setting-help">Example : 9</span>
            </div>
        </li>
        <li class="field comp-setting-entry is-set">
            <div id="panel2" class="wrapper-comp-setting">
                <label class="label setting-label">Group</label><label class="label setting-label" id="name">Name</label><label class="label setting-label" id="value">Value</label>
                <span class="tip setting-help">Name example: Male<br/>Value example: 54.1</span>
                {% for group in groups %}
                    <p>
                        <label class="label setting-label">Q{{forloop.counter}}</label>
                        <input class="input setting-input group-name" name="question{{forloop.counter}}_name" id="group{{forloop.counter}}_name" value="{{group.0}}" type="text">
                        <input class="input setting-input group-value" name="question{{forloop.counter}}_value" id="group{{forloop.counter}}_0" value="{{group.1}}" type="text">
                         <input class="input setting-input edit-show-labels" id="edit_show_labels" type="checkbox" {% if showLabels %} checked {% endif %}>  Yes
                        <input class="input setting-input group-value" name="question{{forloop.counter}}_value" id="group{{forloop.counter}}_1" value="{{group.1}}" type="text">
                         <input class="input setting-input edit-show-labels" id="edit_show_labels" type="checkbox" {% if showLabels %} checked {% endif %}>  Yes
                        <input class="input setting-input group-value" name="question{{forloop.counter}}_value" id="group{{forloop.counter}}_2" value="{{group.1}}" type="text">
                         <input class="input setting-input edit-show-labels" id="edit_show_labels" type="checkbox" {% if showLabels %} checked {% endif %}>  Yes
                        <input class="input setting-input group-value" name="question{{forloop.counter}}_value" id="group{{forloop.counter}}_0" value="{{group.1}}" type="text">
                         <input class="input setting-input edit-show-labels" id="edit_show_labels" type="checkbox" {% if showLabels %} checked {% endif %}>  Yes
                    </p>
                {% endfor %}
            </div> 
        </li>
    </ul>
    <div class="xblock-actions">
        <span class="xblock-editor-error-message"></span>
        <ul>
            <li class="action-item">
                <a href="#" class="save-button action-primary action">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">Cancel</a>
            </li>
        </ul>
    </div>
</div>
